.container
  = render 'partials/user_sidebar'
  #user-tabs
    #user-style-tab
      = link_to show_user_path(@user) do
        Posted
        %span.tab-count
          = @user.posts_count
        styles
    #user-liked-tab.active-tab
      Likes
      %span.tab-count
        = @user.liked_posts_count
      styles
    #user-rest-tab
      &nbsp;
  #masonry-container
    = render @posts
  #paginate-containter
    = paginate @posts

  #load-more
    Loading more ...
