%nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .container
    = render 'partials/navbar_left'

    %ul.nav.navbar-nav.navbar-right
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          %span.glyphicon.glyphicon-plus

        %ul.dropdown-menu
          %li
            %a{'data-toggle' => 'modal', 'data-target' => '#upload-post-modal', href: '#'}
              Upload
          %li.divider
          %li
            %a{'data-toggle' => 'modal', 'data-target' => '#from-web-post-modal', href: '#'}
              From web

      %li.dropdown
        %a.dropdown-toggle.border-right{"data-toggle" => "dropdown", href: "#"}
          / .icons-user
          = current_user.full_name.titleize
        %ul.dropdown-menu
          %li
            = link_to 'My Styles', show_user_path(current_user)
          %li
            = link_to 'My Likes', user_liked_posts_path(current_user)
          %li
            = link_to 'Settings', edit_user_path
          %li.divider

          %li
            %a{href: '#'}
              Privacy & Terms
          %li
            %a{href: 'mailto:contact@phinery.com'}
              Contact Us
          %li.divider

          %li
            = link_to 'Sign Out', destroy_user_session_path, method: :delete

      .col-xs-3.nav-search
        = form_tag search_posts_path, method: :get, class: 'navbar-form navbar-left' do
          #nav-search-group
            = text_field_tag :search, nil, id: 'nav-search-box', class: 'form-control', placeholder: 'Search...'
            %span#nav-search-btn.input-group-btn.hidden
              = submit_tag ''

