%nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .container
    = render 'partials/navbar_left'

    %ul.nav.navbar-nav.navbar-right
      %li.dropdown
        %a.dropdown-toggle{'data-toggle' => 'modal', 'data-target' => '#sign-in-modal', href: '#'}
          Log in
      %li.dropdown
        = link_to 'Sign up', new_registration_path('user'), class: 'dropdown-toggle border-right', id: 'sign-up-btn', "data-toggle" => "dropdown"
      .col-xs-3.nav-search
        = form_tag search_posts_path, method: :get, class: 'navbar-form navbar-left' do
          #nav-search-group
            = text_field_tag :search, nil, id: 'nav-search-box', class: 'form-control', placeholder: 'SEARCH...'
            %span#nav-search-btn.input-group-btn.hidden
              = submit_tag ''

#sign-in-modal.modal
  .modal-dialog
    .modal-content
      .modal-header
        %button{type: 'button', class: 'close', 'data-dismiss' => 'modal', 'aria-hidden' => 'true'}
          &times;
        %h4.modal-title
          Log in
      .modal-body
        .row#sns-login
          .col-xs-5.col-xs-offset-1.fb-login-btn
            = link_to user_omniauth_authorize_path(:facebook),
                      class: 'btn btn-default btn-block wf-fix' do
              .icons-facebook
                Log in with Facebook
          .col-xs-5.gg-login-btn
            = link_to user_omniauth_authorize_path(:google),
                      class: 'btn btn-default btn-block wf-fix' do
              .icons-google
                Log in with Google
        %hr
        = form_for(:user, as: @user, url: session_path('user'), html: { class: 'form-horizontal', id: 'sign-in-form' }) do |f|
          .row
            .col-xs-10.col-xs-offset-1
              .form-group.text-muted
                Log in with email
                .pull-right
                  = link_to 'Need an account?', new_registration_path('user')

              .form-group
                %label Email
                = f.text_field :email, autofocus: true, autocomplete: false, class: 'form-control', tabindex: 1
              .form-group
                %label
                  Password&nbsp;
                  %small.forgot-password
                    = link_to 'Forgot?', new_password_path('user')
                = f.password_field :password, class: 'form-control', tabindex: 2
          .row
            .col-xs-3.col-xs-offset-1
              .form-group
                = f.submit 'Sign In', class: 'btn btn-primary btn-lg btn-block'
