%ul.nav.navbar-nav
  = link_to root_path, class: 'navbar-brand' do
    = image_tag 'logo_sm.png'

  - if params[:sort]
    %li#scope-dropdown.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", href: '#'}
        .icons-tasks
      %ul#nav-menu.dropdown-menu
        = render 'partials/nav_menu'

    %li#sort-dropdown.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", href: '#'}
        %strong= params[:sort].titleize
        .icons-sort
      %ul.dropdown-menu
        %li.dropdown-header
          Sort by
        %li
          = link_to 'Hot', params.merge(sort: 'Hot')
        %li
          = link_to 'New', params.merge(sort: 'New')

  - else
    %li#scope-dropdown.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", href: '#'}
        .icons-tasks
      %ul#nav-menu.dropdown-menu
        = render 'partials/nav_menu'
.col-xs-3.nav-search
  %form.navbar-form.navbar-left{role: "search"}
    #nav-search-group
      %input#nav-search-box.form-control{placeholder: "Search", type: "text"}/
      %span#nav-search-btn.input-group-btn.hidden
        = link_to root_path, class: 'btn btn-default' do
          .icons-search
