%ul.nav.navbar-nav
  = link_to root_path, class: 'navbar-brand' do
    = image_tag 'logo.png'

  - if params[:sort]
    %li.dropdown
      %a.dropdown-toggle.dropdown-fw{"data-toggle" => "dropdown", href: '#'}
        / .icons-tasks
        Feed
      %ul#nav-menu.dropdown-menu
        = render 'partials/nav_menu'

    %li.dropdown
      %a.dropdown-toggle.dropdown-fw.border-right{"data-toggle" => "dropdown", href: '#'}
        Sort
      %ul.dropdown-menu
        / %li.dropdown-header
        /   Sort by
        %li
          = link_to 'Most popular', params.merge(sort: 'Hot')
        %li
          = link_to 'Most recent', params.merge(sort: 'New')

  - else
    %li#scope-dropdown.dropdown
      %a.dropdown-toggle.border-right{"data-toggle" => "dropdown", href: '#'}
        / .icons-tasks
        Feed
      %ul#nav-menu.dropdown-menu
        = render 'partials/nav_menu'
