#user-bar.row
  #user-main.col-xs-7
    .pull-left
      = cl_image_tag @user.avatar_cloudinary_id, width: 90, height: 90, crop: 'fill', gravity: 'face'

    .user-name
      %span= @user.full_name.titleize
      - site = @user.site
      %span#user-sites
        - if site.facebook.present?
          %a.icons-share-facebook{href: @user.site.facebook, title: 'Facebook'}
        - if site.twitter.present?
          %a.icons-share-twitter{href: @user.site.twitter, title: 'Twitter'}
        - if site.google.present?
          %a.icons-share-google{href: @user.site.google, title: 'Google+'}
        - if site.weibo.present?
          %a.icons-share-weibo{href: @user.site.weibo, title: 'Sina Weibo'}
        - if site.blog.present?
          %a.icons-blog{href: @user.site.blog, title: 'Blog'}

    .user-location
      = @user.city.titleize

    .user-btns
      .pull-left
        = render 'partials/follow_button', user: @user
      - if !user_signed_in?
        %button.btn.btn-primary.btn-sm{'data-toggle' => 'modal', 'data-target' => '#sign-in-modal'} Message
      - elsif @user != current_user
        %button.btn.btn-primary.btn-sm{'data-toggle' => 'modal', 'data-target' => '#new-message-modal'} Message




  #user-stats.col-xs-5
    .row.text-center
      .col-xs-3
        .stat-count
          = @user.likes_count
        .stat-name
          Likes
      .col-xs-3
        .stat-count
          = @user.views_count
        .stat-name
          Views
      .col-xs-3
        .stat-count.followers-count
          = @user.followers_count
        .stat-name
          Followers
      .col-xs-3
        .stat-count
          = @user.followings_count
        .stat-name
          Following
