.row
  .col-xs-5
    = cl_image_tag @user.avatar_cloudinary_id, width: 100, height: 100, crop: 'fill', gravity: 'face'
  .col-xs-7
    %h3.low-margin
      = user.full_name
    = render 'partials/follow_button'

#user-likes
  = fa_icon 'heart'
  = user.likes
#followers
  followed by
  = user.followers.count
#followings
  following
  = user.followed_users.count
