.row
  .col-xs-5
    = cl_image_tag @user.avatar_cloudinary_id, width: 100, height: 100, crop: 'fill', gravity: 'face', class: 'img-rounded-s'
  #name-n-follow.col-xs-7
    %h3
      = user.full_name
    = render 'partials/follow_button', user: @user

#user-stats.row.text-center
  .col-xs-3
    / placeholder
    999
    %br
    .small
      VIEWS
  .col-xs-3
    = user.likes
    %br
    .small
      LIKES
  .col-xs-3
    #followers
      = user.followers_count
    .small
      FOLLOWERS
  .col-xs-3
    = user.followings_count
    %br
    .small
      FOLLOWS
