#user-bar.row
  #user-main.col-xs-7
    .pull-left
      = cl_image_tag @user.avatar_cloudinary_id, width: 90, height: 90, crop: 'fill', gravity: 'face'

    %p
      %h3
        = @user.full_name.titleize

    .user-location
      = @user.city.titleize

    .user-btns
      .pull-left
        = render 'partials/follow_button', user: @user
      - if !user_signed_in?
        %button.btn.btn-primary.btn-sm{'data-toggle' => 'modal', 'data-target' => '#sign-in-modal'} Message
      - elsif @user != current_user
        %button.btn.btn-primary.btn-sm{'data-toggle' => 'modal', 'data-target' => '#new-message-modal'} Message

  #user-stats.col-xs-5
    .row.text-center
      .col-xs-3
        .stat-count
          = @user.likes_count
        .stat-name
          Likes
      .col-xs-3
        .stat-count
          = @user.views_count
        .stat-name
          Views
      .col-xs-3
        .stat-count.followers-count
          = @user.followers_count
        .stat-name
          Followers
      .col-xs-3
        .stat-count
          = @user.followings_count
        .stat-name
          Following
