.container
  #user-bar.row
    .col-xs-1
      = cl_image_tag @user.avatar_cloudinary_id, width: 60, height: 60, crop: 'fill', gravity: 'face'

    .col-xs-11
      %div
        .pull-right
          = render 'partials/follow_button', user: @user
        %h4
          %small
            = @user.posts_count
            styles from&nbsp;
          = @user.full_name.titleize
          %small.user-stats
            = fa_icon 'eye', text: @user.views_count
            &nbsp;
            = fa_icon 'heart-o', text: @user.likes_count
      %hr.hr-dark
  #masonry-container
    = render @posts
  #paginate-containter
    = paginate @posts, theme: 'twitter-bootstrap-3'

  .text-center
    #load-more.btn.btn-default
      = fa_icon 'repeat'
      %strong
        &nbsp;Loading more ..
