.container
  .row
    .col-xs-8
      .btn-group.pull-right.simple-sort
        .btn.btn-default.btn-sm.dropdown-toggle{'data-toggle' => 'dropdown', type: 'button'}
          = params[:sort]
          %span.caret

        %ul.dropdown-menu.text-left
          %li
            = link_to 'Newest', user_path(@user, params.merge(sort: 'Newest'))
          %li.divider
          %li
            = link_to 'Hot this month', user_path(@user, params.merge(sort: 'Hot this month'))
          %li
            = link_to 'Hot all time', user_path(@user, params.merge(sort: 'Hot all time'))
      %h4
        %small Styles from
        = @user.full_name.titleize
      %hr
      #masonry-container
        = render partial: 'posts/medium_post', collection: @posts
      #paginate-containter
        = paginate @posts, theme: 'twitter-bootstrap-3'

      .text-center
        #load-more.btn.btn-default
          = fa_icon 'repeat'
          %strong
            &nbsp;Loading more ..
    .col-xs-4
      = render 'partials/user_sidebar', user: @user
