.container
  = render 'partials/user_sidebar'
  #user-tabs
    #user-style-tab.active-tab
      Posted
      %span.tab-count
        999
      styles
    #user-liked-tab
      = link_to user_liked_posts_path(@user) do
        Likes
        %span.tab-count
          = @user.liked_posts_count
        styles
    #user-rest-tab
      &nbsp;
  #masonry-container
    = render @posts
  #paginate-containter
    = paginate @posts

  #load-more
    Loading more ...
