.container
  .col-xs-8
    pics go here
  .col-xs-4
    = current_user.full_name
    .row
      = fa_icon 'heart'
      = current_user.likes
    .row
      followed by
      = current_user.followers.count
    .row
      following
      = current_user.followed_users.count
