.container
  .pull-right
    - if user_signed_in?
      #bookmark-btn
        = bookmark_button @tag
    - else
      %button.btn.btn-default{'data-toggle' => 'modal', 'data-target' => '#sign-in-modal'}
        = fa_icon 'bookmark', text: 'Bookmark'
  %h4
    %small Styles with tag
    = "##{@tag.name}"

  %hr
  #masonry-container
    = render @posts
  #paginate-containter
    = paginate @posts, theme: 'twitter-bootstrap-3'

  .text-center
    #load-more.btn.btn-default
      = fa_icon 'repeat'
      %strong
        &nbsp;Loading more ..
