.container
  .panel.panel-default.sign-up-panel
    .panel-body
      %h3.text-center
        Log in
      %br
      %br
      .row#sns-login
        .col-xs-6.fb-login-btn
          = link_to user_omniauth_authorize_path(:facebook),
                    class: 'btn btn-default btn-block wf-fix' do
            = fa_icon 'facebook lg', text: 'Log in with Facebook'
        .col-xs-6.gg-login-btn
          = link_to user_omniauth_authorize_path(:google),
                    class: 'btn btn-default btn-block wf-fix' do
            = fa_icon 'google-plus lg fw', text: 'Log in with Google'
      %hr
      = form_for(:user, as: @user, url: session_path('user'), html: { class: 'form-horizontal', id: 'sign-in-form' }) do |f|
        .form-group.text-muted
          Log in with email or username

        .form-group
          %label Email or Username
          = f.text_field :login, autofocus: true, autocomplete: false, class: 'form-control', tabindex: 1
        .form-group
          %label
            Password&nbsp;
            %small.forgot-password
              = link_to 'Forgot?', new_password_path('user')
          = f.password_field :password, class: 'form-control', tabindex: 2
        .row
          .col-xs-4
            .form-group
              = f.submit 'Sign In', class: 'btn btn-primary btn-lg btn-block'
