.masonry-brick
  = link_to post, target: '_blank' do
    = cl_image_tag post.cloudinary_id, width: 220
  .masonry-title
    %strong= truncate post.title.titleize, length: 22
    .pull-right.small.text-muted
      = fa_icon 'eye', text: post.views_count
      = fa_icon 'heart-o', text: post.like_relationships_count
  .masonry-author.small.text-muted
    - if controller_name == 'users'
      .text-center
        = time_ago_in_words post.created_at
        ago
    - else
      by
      = link_to post.user.full_name.titleize, post.user
      .pull-right
        = time_ago_in_words post.created_at
        ago
