.masonry-brick
  .masonry-like-btn.hidden-info.hidden
    = render 'partials/masonry_like_button', post: post
  .masonry-img
    = link_to post, target: '_blank' do
      = cl_image_tag post.cloudinary_id, width: 220, height: 280, gravity: :north, crop: :fill
  .masonry-title
    %strong= truncate post.title.titleize, length: 22
    .pull-right
      %span.masonry-views
        %span.glyphicon.glyphicon-eye-open
        = post.views_count

      %span.glyphicon.glyphicon-heart
      %span{class: "masonry-title-likes-#{post.id}"}
        = post.like_relationships_count
  .masonry-author.small.text-muted
    - if controller_name == 'users'
      .text-center
        = time_ago_in_words post.created_at
        ago
    - else
      by
      = link_to post.user.full_name.titleize, post.user
      .pull-right
        = time_ago_in_words post.created_at
        ago
  - if post.tags.any?
    .masonry-tags
      - post.tags.each do |tag|
        = link_to tag.name, tag, class: 'tag'
