- show_tag ||= 1

.masonry-brick
  .masonry-like-btn
    = render 'partials/masonry_like_button', post: post
  .masonry-img
    = link_to post, target: '_blank' do
      = cl_image_tag_with_crop post, width: 219, height: 292, crop: :fill


  .masonry-title{class: ('truncate' if show_tag == 0)}
    = post.title.titleize


  - if controller_name != 'users'
    - user = post.user
    .masonry-author
      = link_to user.full_name.titleize, show_user_path(user)
      .masonry-author-popup
        .clearfix
          .pull-left
            = link_to show_user_path(user) do
              = cl_image_tag user.avatar_cloudinary_id, width: 70, height: 70, crop: 'fill', gravity: 'face'

          .user-name
            = post.user.full_name.titleize

          .user-stats
            .col
              .stat-count
                = user.posts_count
              .stat-name
                Styles
            .col
              .stat-count
                = user.likes_count
              .stat-name
                Likes

        .popup-btns
          = render 'partials/follow_button', user: user
          = link_to 'profile', user, class: 'btn btn-sm btn-primary'


  .masonry-heart
    %span.glyphicon.glyphicon-heart
    = post.like_relationships_count
    &nbsp;
    &nbsp;
    = link_to 'COMMENT', post_path(post) + '?comment=1'
