- show_tag ||= 1

.masonry-brick
  .masonry-like-btn
    = render 'partials/masonry_like_button', post: post
  .masonry-img
    = link_to post, target: '_blank' do
      = cl_image_tag_with_crop post, width: 219, height: 292, crop: :fill


  .masonry-title{class: ('truncate' if show_tag == 0)}
    = post.title.titleize



  .masonry-author
    = link_to post.user.full_name.titleize, show_user_path(post.user)

  .masonry-heart
    %span.glyphicon.glyphicon-heart
    = post.like_relationships_count
    &nbsp;
    &nbsp;
    = link_to 'COMMENT', post_path(post) + '?comment=1'
