.row.post.big-post-frame
  .col-xs-8
    = link_to post, target: '_blank' do
      = cl_image_tag post.cloudinary_id, width: 397, class: 'img-rounded-m'

  .col-xs-4
    / likes
    .like-btn
      = render 'partials/like_button', post: post

    / post info
    %h4
      = link_to post, class: 'black-link' do
        = truncate post.title.titleize, length: 20

    %p
      By
      = link_to post.user.full_name, post.user

    %p
      = time_ago_in_words post.created_at
      ago

    %br

    - if post.description.present?
      = simple_format truncate(post.description, length: 250)

    %br
    - post.tags.each do |tag|
      = link_to "##{tag.name}", tag
      &nbsp;

