- show_tag ||= 1

.masonry-brick
  .masonry-like-btn
    = render 'partials/masonry_like_button', post: post
  .masonry-img
    = link_to post, target: '_blank' do
      = cl_image_tag_with_crop post, width: 219, height: 292, crop: :fill


  .masonry-title{class: ('truncate' if show_tag == 0)}
    / %strong
    = post.title.titleize



  .masonry-author
    = link_to post.user.full_name.titleize, show_user_path(post.user)
    / %span.post-stats
    /   .icons-eye
    /     = post.views_count
    /   .icons-heart_sm{class: "masonry-title-likes-#{post.id}"}
    /     = post.like_relationships_count

    / -unless controller_name == 'users'
    /   %span.user-name
    /     %span
    /       %strong= link_to post.user.full_name.titleize, show_user_path(post.user)
    / .pull-right
    /   = time_ago_in_words post.created_at
    /   ago

  .masonry-heart
    %span.glyphicon.glyphicon-heart
    = post.like_relationships_count
    &nbsp;
    %span.glyphicon.glyphicon-comment
    COMMENT

  / - if show_tag == 1 && post.tags.any?
  /   .masonry-tags
  /     - post.tags.each do |tag|
  /       = link_to tag.name, tag, class: 'tag'
