.btn-group.pull-left
  %button.btn.btn-default.btn-sm.dropdown-toggle{'data-toggle' => 'dropdown', type: 'button'}
    = params[:channel].titleize
    %span.caret
  %ul.dropdown-menu.text-left
    %li
      = link_to 'Everything', posts_path(params.merge(channel: nil))
    - if user_signed_in?
      %li.divider
      %li
        = link_to 'Following', posts_path(params.merge(channel: 'Following'))
      - if current_user.channels.any?
        %li.divider
        %li
          = link_to 'My Channels', posts_path(params.merge(channel: 'My Channels'))
        %li.divider
        %li.dropdown-header
          My Channels
        - current_user.channels.each do |channel|
          %li
            = link_to channel.name.titleize, posts_path(params.merge(channel: channel.name))

.btn-group
  .btn.btn-default.btn-sm.dropdown-toggle{'data-toggle' => 'dropdown', type: 'button'}
    = params[:sort]
    %span.caret

  %ul.dropdown-menu.text-left
    %li
      = link_to 'Newest', posts_path(params.merge(sort: 'Newest'))
    %li.divider
    %li
      = link_to 'Hot today', posts_path(params.merge(sort: 'Hot today'))
    %li
      = link_to 'Hot this week', posts_path(params.merge(sort: 'Hot this week'))
    %li
      = link_to 'Hot this month', posts_path(params.merge(sort: 'Hot this month'))
    %li
      = link_to 'Hot all time', posts_path(params.merge(sort: 'Hot all time'))

.btn-group.pull-right
  - if params[:view] == 'grid'
    = link_to 'Large', posts_path(params.merge(view: nil)), class: 'btn btn-default btn-sm'
    .div.btn.btn-default.btn-sm.active
      Grid
  - else
    .div.btn.btn-default.btn-sm.active
      Large
    = link_to 'Grid', posts_path(params.merge(view: 'grid')), class: 'btn btn-default btn-sm'
