.small-post
  = link_to small_post, target: '_blank' do
    .masonry-brick
      .hidden.hidden-info.info-top
        = truncate small_post.title.titleize, length: 22
      = cl_image_tag small_post.cloudinary_id, width: 170, class: 'img-rounded-s'
      .hidden.hidden-info.info-btm
        .pull-left
          = fa_icon 'heart'
          %span.small
            = small_post.likes
        .pull-right.small
          = small_post.user.full_name.titleize
