.container
  - if @following_posts.any?
    #following-carousel.carousel.slide
      .post-row-header
        = fa_icon 'rss'
        Following
        %span.more
          = link_to 'MORE', posts_path(params.merge(scope: 'Following'))
        - if @following_posts.size > 4
          %ol.carousel-indicators
            %li.active{'data-target' => '#following-carousel', 'data-slide-to' => '0'}
            %li{'data-target' => '#following-carousel', 'data-slide-to' => '1'}
      .carousel-inner
        - @following_posts.each_slice(4) do |posts|
          .item
            - posts.each do |post|
              .col-xs-3
                = render 'posts/post', post: post, show_tag: 0
  - else
    #follow-msg
      .post-row-header
        = fa_icon 'rss'
        Following
        %span.more.text-muted
          MORE
      .text-center
        %h3
          %strong You are not following anyone yet...

        %p.text-muted
          Look around to discover amazing styles and people.

  #hot-carousel.carousel.slide
    .post-row-header
      %span.glyphicon.glyphicon-fire
      Hot
      %span.more
        = link_to 'MORE', posts_path(params.merge(sort: 'Hot'))
      %ol.carousel-indicators
        %li.active{'data-target' => '#hot-carousel', 'data-slide-to' => '0'}
        %li{'data-target' => '#hot-carousel', 'data-slide-to' => '1'}
    .carousel-inner
      - @hot_posts.each_slice(4) do |posts|
        .item
          - posts.each do |post|
            .col-xs-3
              = render 'posts/post', post: post, show_tag: 0

  #new-carousel.carousel.slide
    .post-row-header
      %span.glyphicon.glyphicon-send
      New
      %span.more
        = link_to 'MORE', posts_path(params.merge(sort: 'New'))
      %ol.carousel-indicators
        %li.active{'data-target' => '#new-carousel', 'data-slide-to' => '0'}
        %li{'data-target' => '#new-carousel', 'data-slide-to' => '1'}
    .carousel-inner
      - @new_posts.each_slice(4) do |posts|
        .item
          - posts.each do |post|
            .col-xs-3
              = render 'posts/post', post: post, show_tag: 0

  #star-carousel.carousel.slide
    .post-row-header
      = fa_icon 'star-o'
      Stars
      %span.more
        = link_to 'MORE', posts_path(params.merge(sort: 'New'))
      %ol.carousel-indicators
        %li.active{'data-target' => '#star-carousel', 'data-slide-to' => '0'}
        %li{'data-target' => '#star-carousel', 'data-slide-to' => '1'}
    .carousel-inner
      - @star_users.each_slice(3) do |users|
        .item
          - users.each do |user|
            .col-xs-4
              = render 'users/user', user: user


