.container
  .row
    .col-xs-8
      .btn-group.pull-right.simple-sort
        .btn.btn-default.btn-sm.dropdown-toggle{'data-toggle' => 'dropdown', type: 'button'}
          = params[:sort] || 'Hot this week'
          %span.caret

        %ul.dropdown-menu.text-left
          %li
            = link_to 'Newest', posts_path(params.merge(sort: 'Newest'))
          %li.divider
          %li
            = link_to 'Hot today', posts_path(params.merge(sort: 'Hot today'))
          %li
            = link_to 'Hot this week', posts_path(params.merge(sort: 'Hot this week'))
          %li
            = link_to 'Hot this month', posts_path(params.merge(sort: 'Hot this month'))
          %li
            = link_to 'Hot all time', posts_path(params.merge(sort: 'Hot all time'))
      %h4
        %small Styles from
        = @channel.name.titleize

      %hr
      #masonry-container
        = render partial: 'medium_post', collection: @posts
      #paginate-containter
        = paginate @posts, theme: 'twitter-bootstrap-3'

      .text-center
        #load-more.btn.btn-default
          = fa_icon 'repeat'
          %strong
            &nbsp;Loading more ..
    .col-xs-4
      = render 'partials/channel_sidebar', channel: @channel
