.container
  .row
    .col-xs-6
      #post-img-container
        = cl_image_tag_with_crop @post, width: 402, height: 536, crop: :fill

    .col-xs-6
      %h4.step
        %small
          Step 2&nbsp;
        Click on photo to add item labels

      %hr.hr-dark

      = form_for @post, html: { class: 'form-horizontal', id: 'new-post-form' } do |f|
        = f.hidden_field :cloudinary_id
        = f.hidden_field :crop_str

        %h4.step
          %small
            Step 3&nbsp;
          Name your style
        %br

        .form-group
          %label.col-xs-2.control-label Title
          .col-xs-10
            = f.text_field :title, class: 'form-control', placeholder: 'Name your style...', 'data-error' => field_err(@post, :title)

        / .form-group
        /   %label Description
        /   = f.text_area :description, class: 'form-control', placeholder: 'Describe your photo...'

        .form-group
          %label Tags (separate by comma)
          = f.text_field :tag_list, class: 'form-control', placeholder: 'tag1, tag2, ...', autocomplete: :off, id: 'tag-list-input'

        %hr.hr-dark

        / tags
        %h4.step
          %small
            Step 4&nbsp;
          Tag your style
        %br

        %strong Senario



        %hr.hr-dark

        %h4.step
          %small
            Step 5&nbsp;
          Share and promote
        %br

        #item-forms
          = f.fields_for :items do |item|
            = render 'item_fields', f: item
          = link_to_add_association '', f, :items, id: 'add-item-btn', class: 'hide', 'data-association-insertion-method' => 'append'

        .form-group
          = f.submit 'Post my style!', class: 'btn btn-primary btn-lg', id: 'new-post-form-submit'
