.container
  = render 'partials/user_sidebar_s'
  .row
    .col-xs-7
      .pull-right.big-like-btn.like-btn
        = render 'partials/like_button', post: @post
      %h3
        = @post.title.titleize

      %p.pull-left.text-muted
        = time_ago_in_words @post.created_at
        ago

      - if @user == current_user
        #post-edit-btns.btn-group
          = link_to 'Edit', edit_post_url(@post), class: 'btn btn-xs btn-default'
          = link_to 'Delete',
                    post_url(@post),
                    method: :delete,
                    confirm: 'Do you want to DELETE this Style?',
                    class: 'btn btn-xs btn-danger'

  .row
    .col-xs-6
      #show-post-img-container
        = cl_image_tag_with_crop @post, width: 390, height: 520, crop: :fill

      / comments
      .page-header
        %h3
          = "#{@post.comments_count} COMMENTS"
      - @comments.each do |comment|
        .row.comment
          .col-xs-2
            = cl_image_tag comment.user.avatar_cloudinary_id, width: 50, height: 50, crop: 'fill', gravity: 'face'
          .col-xs-10
            %p
              = link_to comment.user.full_name, comment.user
              %span.small
                = time_ago_in_words comment.created_at
                ago
            = simple_format comment.comment
        %hr

      / post comment
      - if user_signed_in?
        = form_for [@post, @comment] do |f|
          = f.hidden_field :user_id, value: current_user.id
          .form-group
            = f.text_area :comment, rows: 3, class: 'form-control'
          .form-group
            = f.submit 'Comment', class: 'btn btn-primary'
      - else
        .text-center
          %button.btn.btn-default{'data-toggle' => 'modal', 'data-target' => '#sign-in-modal'}
            Log in to comment


    .col-xs-5
      %br
      %br
      - if @post.tags.any?
        - @post.tags.each do |tag|
          = link_to "##{tag.name}", tag
          &nbsp;
        %hr

      - if @post.items.any?
        - @post.items.each do |item|
          .item-info{id: "item-#{item.number}", 'data-target' => "item-label-#{item.number}", 'data-number' => item.number, 'data-x' => item.x, 'data-y' => item.y}
            %p
              = item.number
              = item.name
        %hr

      - if @post.description.present?
        = simple_format @post.description

