.container

  .row
    #post-main.col-xs-5
      #post-title

        %p
          %h3{class: ('small' if @post.title.length > 28)}
            %strong= @post.title.titleize
        %small.text-muted
          = time_ago_in_words @post.created_at
          ago

          / edit buttons
          - if @user == current_user
            %span#post-edit-btns
              = link_to 'Edit', edit_post_url(@post)
              = link_to 'Delete',
                        post_url(@post),
                        method: :delete,
                        data: {confirm: 'Do you want to DELETE this Style?'}


      #show-post-img-container
        = cl_image_tag_with_crop @post, width: 402, height: 536, crop: :fill

      #post-nav.clearfix.text-center
        - if @prev_post
          .pull-left
            = link_to @prev_post, id: 'prev-post-link' do
              &larr; Prev
        - else
          .pull-left.invisible
            &larr; Prev
        - if @next_post
          .pull-right
            = link_to @next_post, id: 'next-post-link' do
              Next &rarr;
        - else
          .pull-right.invisible
            Next &rarr;

        %span.atooltip{title: 'Previous : ← Next : → Like : L  Comment : C'}
          Keyboard Shortcuts

      - if @may_like_posts.any?
        #similar-posts
          .post-main-header
            styles you may like
          - @may_like_posts.each do |post|
            = link_to post do
              = cl_image_tag_with_crop post, width: 111, crop: :fill, title: post.title.capitalize

      / comments
      #post-comments
        .post-main-header{class: ('hidden' if (comments_count = @post.comments_count) == 0)}
          = pluralize comments_count, 'comment'
        #post-comments-main
          = render @comments
        #post-comments-next.text-center
          = link_to_next_page @comments, 'View More', remote: true, class: 'btn btn-default'

        / post comment
        - if user_signed_in?
          = form_for [@post, @comment], html: {class: 'form-horizontal'} do |f|
            = f.hidden_field :user_id, value: current_user.id
            .form-group
              .col-xs-1
                = cl_image_tag current_user.avatar_cloudinary_id, width: 45, height: 45, crop: 'fill', gravity: 'face'
              .col-xs-11
                = f.text_area :comment, placeholder: (comments_count == 0 ? 'Be the first to comment!' : 'Post a comment...'), rows: 2, class: 'form-control', id: 'post-comment-input'
            .form-group
              .col-xs-11.col-xs-offset-1
                %button#post-comment-btn.btn.btn-primary.hidden{type: 'submit'}
                  Post comment

    #post-info.col-xs-3
      / #post-nav.clearfix
      /   - if @prev_post
      /     = link_to @prev_post do
      /       .pull-left
      /         .icons-left

      /   - else
      /     .pull-left.invisible
      /       .icons-left

      /   - if @next_post
      /     = link_to @next_post do
      /       .pull-right
      /         .icons-right
      /   - else
      /     .pull-right.invisible
      /       .icons-right

      = render 'partials/like_button', post: @post

      #post-views.info-entry
        .pull-right
          =@post.views_count
        .icons-eye_lg
          %small.text-muted Views

      #post-share.info-entry
        .icons-share
          %small.text-muted Share
        .pull-right
          #share-facebook{'data-url' => post_url(@post), 'data-text' => @post.title.titleize}
          #share-google{'data-url' => post_url(@post), 'data-text' => @post.title.titleize}
          #share-twitter{'data-url' => post_url(@post), 'data-text' => @post.title.titleize}
          #share-pinterest{'data-url' => post_url(@post), 'data-text' => @post.title.titleize}

      #post-items.info-list
        %p.info-header
          = @post.items.any?? 'Items' : 'No items.'
        - @post.items.each do |item|
          .item-info{id: "item-#{item.number}", 'data-target' => "item-label-#{item.number}", 'data-number' => item.number, 'data-x' => item.x, 'data-y' => item.y}
            %p
              %span.pull-right.small
                = link_to item.item_category.name.titleize, item.item_category
              %span.item-number{id: "item-number-#{item.number}"}
                = item.number
              %span.item-name{title: item.name.capitalize}
                - if item.url.present?
                  %a{href: "#{item.url}"}
                    = item.name.capitalize
                - else
                  %span= item.name.capitalize


      #post-tags.info-list
        %p.info-header
          = @tags.any?? 'Tags' : 'No tags.'
        - @tags.each do |tag|
          = link_to tag.name, tag, class: 'tag'


    #user-sidebar.col-xs-3
      .sidebar-header.text-center
        POSTED BY
      #user-info
        .pull-left
          = link_to show_user_path(@user) do
            = cl_image_tag @user.avatar_cloudinary_id, width: 80, height: 80, crop: 'fill', gravity: 'face'
        = link_to show_user_path(@user) do
          %strong= @user.full_name.titleize
        .icons-location_sm.small.text-muted
          = @user.city.titleize
        = render 'partials/follow_button', user: @user
      %br
      #user-stats.row.text-center
        .col-xs-4
          .stat-count.likes-count
            = @user.likes_count
          .stat-name
            Likes
        .col-xs-4
          .stat-count
            = @user.views_count
          .stat-name
            Views
        .col-xs-4
          .stat-count.followers-count
            = @user.followers_count
          .stat-name
            Followers

      .sidebar-header.text-center
        MORE BY
        = link_to @user.full_name.upcase, show_user_path(@user)

      #more-posts
        - @more_posts.each do |post|
          = link_to post do
            = cl_image_tag_with_crop post, width: 111, crop: :fill

      .sidebar-header.text-center
        PEOPLE YOU MAY LIKE

      #may-like-ppl
        - @may_like_ppl.each do |user|
          .may-like-user.clearfix
            .pull-left
              = link_to show_user_path(user) do
                = cl_image_tag user.avatar_cloudinary_id, width: 80, height: 80, crop: 'fill', gravity: 'face'

            .user-name
              = link_to show_user_path(user) do
                %strong= user.full_name.titleize

            .user-stats.small.text-muted
              = "#{user.likes_count} Likes · #{user.followers_count} Followers"
            = render 'partials/follow_button', user: user



