.container
  .row
    .col-xs-7
      .pull-right.big-like-btn
        = render 'partials/like_button', post: @post
      %h2
        = @post.title.titleize

      %p
        By
        = succeed ',' do
          = link_to @user.full_name, user_posts_path(@user)
        = time_ago_in_words @post.created_at
        ago
        - if @user == current_user
          &nbsp;
          = link_to 'Edit', edit_post_url(@post)
          &nbsp;
          = link_to 'Delete', post_url(@post), method: :delete

    .col-xs-5
      #user-info.row
        #medium-avatar.col-xs-3
          = cl_image_tag @user.avatar_cloudinary_id, width: 84, height: 84, crop: 'fill', gravity: 'face'
        .col-xs-9
          %p
            = link_to @user.full_name, user_posts_path(@user)
          %p.small.text-muted
            = "#{@user.likes} likes "
            = "#{@user.followers.count} followers"
          = render 'partials/follow_button', user: @user

  .row
    .col-xs-7
      #show-post-img-container
        = cl_image_tag @post.cloudinary_id, width: 530

      / comments
      .page-header
        %h3
          = "#{@comments.count} COMMENTS"
      - @comments.each do |comment|
        .row.comment
          .col-xs-2
            = cl_image_tag comment.user.avatar_cloudinary_id, width: 50, height: 50, crop: 'fill', gravity: 'face'
          .col-xs-10
            %p
              = link_to comment.user.full_name, user_posts_path(comment.user)
              %span.small
                = time_ago_in_words comment.created_at
                ago
            = simple_format comment.comment
        %hr

      / post comment
      - if user_signed_in?
        = form_for [@post, @comment] do |f|
          = f.hidden_field :user_id, value: current_user.id
          .form-group
            = f.text_area :comment, rows: 3, class: 'form-control'
          .form-group
            = f.submit 'Comment', class: 'btn btn-primary'
      - else
        .text-center
          %button.btn.btn-default{'data-toggle' => 'modal', 'data-target' => '#sign-in-modal'}
            Log in to comment


    .col-xs-5

      %br

      - @post.items.each do |item|
        .item-info{id: "item-#{item.number}", 'data-target' => "item-label-#{item.number}", 'data-number' => item.number, 'data-x' => item.x, 'data-y' => item.y}
          %p
            = item.number
            = item.name

      %br

      - if @post.description.present?
        = simple_format @post.description

