.container
  .row
    .col-xs-7
      .pull-right.big-like-btn
        - if @user == current_user
          %button.btn.btn-default.btn-lg{disabled: 'disabled'}
            = fa_icon 'heart lg', text: @post.likes

        - else
          / likes
          %div{id: "like-btn-#{@post.id}"}
            = like_button(@post)
      %h2
        = @post.title.titleize

      %p
        By
        = succeed ',' do
          = link_to @user.full_name, user_path(@user)
        = time_ago_in_words @post.created_at
        ago

    .col-xs-5
      #user-info.row
        #medium-avatar.col-xs-3
          = cl_image_tag @user.avatar_cloudinary_id, width: 84, height: 84, crop: 'fill', gravity: 'face'
        .col-xs-9
          %p
            = link_to @user.full_name, user_path(@user)
          %p.small.text-muted
            = "#{@user.likes} likes "
            = "#{@user.followers.count} followers"
          #follow-btn
            = follow_button @user

  .row
    .col-xs-7
      #show-post-img-container
        = cl_image_tag @post.cloudinary_id, width: 530

      / comments
      .page-header
        %h3
          COMMENTS
      - @comments.each do |comment|
        %p
          = link_to comment.user.full_name, comment.user
          = time_ago_in_words comment.created_at
          ago
        %p= comment.comment

      / post comment
      = form_for [@post, @comment] do |f|
        = f.hidden_field :user_id, value: current_user.id
        .form-group
          = f.text_area :comment, rows: 3, class: 'form-control'
        .form-group
          = f.submit 'Comment', class: 'btn btn-primary'

    .col-xs-5

      - if @user == current_user
        %br
        = link_to 'EDIT', edit_post_url(@post), class: 'btn btn-default btn-lg'
        = link_to 'DELETE', post_url(@post), method: :delete, class: 'btn btn-link btn-lg'
        %br

      %br

      - @post.items.each do |item|
        .item-info{id: "item-#{item.number}", 'data-target' => "item-label-#{item.number}", 'data-number' => item.number, 'data-x' => item.x, 'data-y' => item.y}
          %p
            = item.number
            = item.name

      %br

      - if @post.description.present?
        %p
          = fa_icon 'quote-left'
          = @post.description
          = fa_icon 'quote-right'

