!!!
%html
  %head
    %title StyleMe
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = respond_include_tags
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = cloudinary_js_config
  %body{ class: "#{controller_name}-#{action_name}", 'data-controller' => "#{controller_name}" }
    #header= render conditional_header
    = yield
    = render 'partials/cloudinary' if user_signed_in?
    = render 'partials/footer'
    = render 'partials/notification'
